@charset "utf-8";
$bottomheight:350px; //底部的高度
$bottom_detailh:80px; //底部详细介绍的高度
$bootomcolor:#3E3A39; //底部详细介绍的颜色
$bottom_informationh:270px; //底部咨询信息的高度
$bottomposition1:relative; //相对定位
$bottomposition2:absolute; //绝对定位
$bottom_detail_width: 1180px;
$bottom_detail_height:54px;
// 边框变量
@mixin borderstyle($style:solid, $size:1px, $color:#ccc) {
    border: $size $style $color;
}

//li的右边边框
@mixin border-right($style:solid, $size:1px, $color:#ccc) {
    border-right: $size $style $color;
}

@mixin border-rights($border:none) {
    border-right: $border;
}

// 底部宽度变量
@mixin bottomwidth($bottomwidth:100%) {
    width: $bottomwidth;
}

//清除列表的黑点
@mixin list($list:none) {
    list-style: $list;
}

//清除a标签的下划线
@mixin underline($underline:none) {
    text-decoration: none;
}

//左浮动
@mixin float($float:left) {
    float: $float;
}

//li标签里面文字内容的颜色
@mixin color($color:#fff) {
    color: $color;
}

//底部上面部分的margin值
@mixin margin($margin:10px auto) {
    margin: $margin;
}

//li里面的内容进行水平居中
@mixin text-align($align:center) {
    text-align: $align;
}

//li里面的内容进行垂直居中
@mixin line-height($line:54px) {
    line-height: $line;
}

//li里面内容的右边margin值
@mixin detail_margin_r($margin:25px) {
    margin-right: $margin;
}

//li里面内容的左边margin值
@mixin detail_margin_l($margin:45px) {
    margin-left: $margin;
}

//li里面内容的padding值
@mixin detail_padding($padding:25px) {
    padding-right: $padding;
}

// 底部的部分
.bottom {
    @include bottomwidth;
    height: $bottomheight;
    @include borderstyle;
}

// 底部的详细部分
.bottom_detail {
    @include bottomwidth;
    height: $bottom_detailh;
    @include borderstyle;
    background: $bootomcolor;
    ul {
        width: $bottom_detail_width;
        height: $bottom_detail_height;
        @include margin;
        li {
            @include list;
            @include float;
            @include color;
            @include text-align;
            @include line-height;
            @include border-right;
            // @include detail_margin_r;
            @include detail_padding;
            span {
                //图片的span标签
                @include detail_margin_r;
                @include detail_margin_l;
            }
        }
        .detail_li {
            @include border-rights;
        }
    }
}

// 底部的咨询信息部分
.bottom_information {
    @include bottomwidth;
    height: $bottom_informationh;
    @include borderstyle;
}