@charset "utf-8";
//列表页渲染数据的样式
.center {
    width: 1180px;
    margin: 0 200px;
    margin-bottom: 20px;
    // .button {
    //     width: 150px;
    //     height: 50px;
    //     margin: 10px 10px;
    //     outline-color: none;
    //     background: #eee;
    // }
    //渲染数据的样式
    .list {
        width: 1150px;
        margin: 0 15px;
        font-size: 14px;
    }
    .list li {
        width: 230px;
        padding: 10px;
        float: left;
        // margin: 10px 10px 10px 10px;
        border: 1px solid #ccc;
        height: 310px;
        position: relative;
        &:hover {
            border-bottom: 1px solid red;
        }
    }
    //文字
    .list li p {
        width: 100px;
        height: 48px;
        text-align: center;
        color: black;
        line-height: 55px;
        margin: 10px 40px;
        //显示省略号
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    //图片
    .list li img {
        width: 190px;
        height: 180px;
        display: block;
        // margin-left: -10px;
        margin: -11px -10px;
        // border-bottom: 1px solid #ccc;
    }
    //价格
    .list li span {
        display: block;
        text-align: center;
        color: red;
    }
}