@charset "UTF-8";
.header {
  width: 100%;
  height: 30px;
  margin: 0px auto;
  background: #3E3A39;
}

.headermid {
  width: 1180px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.headermidleft {
  list-style: none;
}
.headermidleft li {
  float: left;
  line-height: 30px;
}
.headermidleft li a {
  font: 12px/1.14 "微软雅黑";
  text-decoration: none;
  color: #ccc;
  margin-left: 20px;
}

.headermidright {
  list-style: none;
}
.headermidright li {
  float: left;
  line-height: 30px;
}
.headermidright li a {
  font: 12px/1.14 "微软雅黑";
  text-decoration: none;
  color: #ccc;
  margin-right: 20px;
}

.middle {
  width: 1180px;
  margin: 0px auto;
}

.top_search {
  width: 1180px;
  height: 87.99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.top_search .top_search_left {
  margin-left: 0;
}
.top_search .top_search_left img {
  width: 237px;
  height: 95px;
}
.top_search .top_search_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.top_search .top_search_right .top_search_right2 .cart {
  width: 183px;
  height: 24px;
  border: 1px solid #ccc;
}

.top_nav {
  width: 1180px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.top_nav_left li {
  float: left;
  list-style: none;
}
.top_nav_left li a {
  padding-right: 40px;
  text-decoration: none;
  color: #333;
}

.top_nav_right li {
  float: left;
  list-style: none;
}
.top_nav_right li a {
  padding-left: 25px;
  text-decoration: none;
  color: #333;
}

.main {
  width: 1180px;
}

.main_day {
  width: 1180px;
  height: 710px;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main_day .main_day_top_nav {
  width: 1180px;
  height: 60px;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main_day .main_day_top_nav .main_top_nav_l {
  font-size: 19px;
}
.main_day .main_day_top_nav .main_top_nav_r a {
  float: left;
  list-style: none;
  text-decoration: none;
  color: #333;
}
.main_day .main_day_top_nav .main_top_nav_r span {
  float: left;
  padding: 0 10px;
  color: #ccc;
}
.main_day .main_day_bottom {
  width: 1180px;
  height: 983px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_day .main_day_bottom .main_day_left {
  width: 952px;
  height: 670px;
}
.main_day .main_day_bottom .main_day_left li {
  border: 1px solid #ccc;
  float: left;
  list-style: none;
  width: 235px;
  height: 335px;
}
.main_day .main_day_bottom .main_day_left .hebin1 {
  width: 470px;
}
.main_day .main_day_bottom .main_day_left .hebin1 .imgs {
  width: 469px;
  height: 335px;
}
.main_day .main_day_bottom .main_day_left .hebin2 {
  width: 0;
  border: 1px none #fff;
}
.main_day .main_day_bottom .main_day_right {
  width: 242px;
  height: 670px;
  border: 1px solid #ccc;
}
.main_day .main_day_bottom .main_day_right .main_day_r_span {
  margin: 60px 20px;
}
.main_day .main_day_bottom .main_day_right .main_day_r_ul {
  width: 192px;
  height: 584px;
  margin: 50px 20px;
}
.main_day .main_day_bottom .main_day_right li {
  list-style: none;
  height: 116px;
  border-top: 1px solid #ccc;
}

.main_face {
  width: 1180px;
  height: 710px;
  border: 1px solid #ccc;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main_face .main_face_top_nav {
  width: 1180px;
  height: 60px;
  border: 1px solid #ccc;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main_face .main_face_top_nav .main_top_nav_l {
  font-size: 19px;
}
.main_face .main_face_top_nav .main_top_nav_r a {
  float: left;
  list-style: none;
  text-decoration: none;
  color: #333;
}
.main_face .main_face_top_nav .main_top_nav_r span {
  float: left;
  padding: 0 10px;
  color: #ccc;
}
.main_face .main_face_bottom {
  width: 1180px;
  height: 983px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_face .main_face_bottom .main_face_left {
  width: 952px;
  height: 670px;
}
.main_face .main_face_bottom .main_face_left li {
  border: 1px solid #ccc;
  float: left;
  list-style: none;
  width: 235px;
  height: 335px;
}
.main_face .main_face_bottom .main_face_left .hebin1 {
  width: 470px;
}
.main_face .main_face_bottom .main_face_left .hebin1 .imgs {
  width: 469px;
  height: 335px;
}
.main_face .main_face_bottom .main_face_left .hebin2 {
  width: 0;
  border: 1px none #fff;
}
.main_face .main_face_bottom .main_face_right {
  width: 242px;
  height: 670px;
  border: 1px solid #ccc;
}
.main_face .main_face_bottom .main_face_right .main_day_r_span {
  margin: 60px 20px;
}
.main_face .main_face_bottom .main_face_right .main_day_r_ul {
  width: 192px;
  height: 584px;
  margin: 50px 20px;
}
.main_face .main_face_bottom .main_face_right li {
  list-style: none;
  height: 116px;
  border-top: 1px solid #ccc;
}

.main_baby {
  width: 1180px;
  height: 710px;
  border: 1px solid #ccc;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main_baby .main_baby_top_nav {
  width: 1180px;
  height: 60px;
  border: 1px solid #ccc;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main_baby .main_baby_top_nav .main_top_nav_l {
  font-size: 19px;
}
.main_baby .main_baby_top_nav .main_top_nav_r a {
  float: left;
  list-style: none;
  text-decoration: none;
  color: #333;
}
.main_baby .main_baby_top_nav .main_top_nav_r span {
  float: left;
  padding: 0 10px;
  color: #ccc;
}
.main_baby .main_baby_bottom {
  width: 1180px;
  height: 983px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_baby .main_baby_bottom .main_baby_left {
  width: 952px;
  height: 670px;
}
.main_baby .main_baby_bottom .main_baby_left li {
  border: 1px solid #ccc;
  float: left;
  list-style: none;
  width: 235px;
  height: 335px;
}
.main_baby .main_baby_bottom .main_baby_left .hebin1 {
  width: 470px;
}
.main_baby .main_baby_bottom .main_baby_left .hebin1 .imgs {
  width: 469px;
  height: 335px;
}
.main_baby .main_baby_bottom .main_baby_left .hebin2 {
  width: 0;
  border: 1px none #fff;
}
.main_baby .main_baby_bottom .main_baby_right {
  width: 242px;
  height: 670px;
  border: 1px solid #ccc;
}
.main_baby .main_baby_bottom .main_day_r_span {
  margin: 60px 20px;
}
.main_baby .main_baby_bottom .main_day_r_ul {
  width: 192px;
  height: 584px;
  margin: 50px 20px;
}
.main_baby .main_baby_bottom li {
  list-style: none;
  height: 116px;
  border-top: 1px solid #ccc;
}

.main_food {
  width: 1180px;
  height: 710px;
  border: 1px solid #ccc;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main_food .main_food_top_nav {
  width: 1180px;
  height: 60px;
  border: 1px solid #ccc;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main_food .main_food_top_nav .main_top_nav_l {
  font-size: 19px;
}
.main_food .main_food_top_nav .main_top_nav_r a {
  float: left;
  list-style: none;
  text-decoration: none;
  color: #333;
}
.main_food .main_food_top_nav .main_top_nav_r span {
  float: left;
  padding: 0 10px;
  color: #ccc;
}
.main_food .main_food_bottom {
  width: 1180px;
  height: 983px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_food .main_food_bottom .main_food_left {
  width: 952px;
  height: 670px;
}
.main_food .main_food_bottom .main_food_left li {
  border: 1px solid #ccc;
  float: left;
  list-style: none;
  width: 235px;
  height: 335px;
}
.main_food .main_food_bottom .main_food_left .hebin1 {
  width: 470px;
}
.main_food .main_food_bottom .main_food_left .hebin1 .imgs {
  width: 469px;
  height: 335px;
}
.main_food .main_food_bottom .main_food_left .hebin2 {
  width: 0;
  border: 1px none #fff;
}
.main_food .main_food_bottom .main_food_right {
  width: 242px;
  height: 670px;
  border: 1px solid #ccc;
}
.main_food .main_food_bottom .main_day_r_span {
  margin: 60px 20px;
}
.main_food .main_food_bottom .main_day_r_ul {
  width: 192px;
  height: 584px;
  margin: 50px 20px;
}
.main_food .main_food_bottom li {
  list-style: none;
  height: 116px;
  border-top: 1px solid #ccc;
}

.main_digital {
  width: 1180px;
  height: 710px;
  border: 1px solid #ccc;
  margin-bottom: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main_digital .main_digital_top_nav {
  width: 1180px;
  height: 60px;
  border: 1px solid #ccc;
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main_digital .main_digital_top_nav .main_top_nav_l {
  font-size: 19px;
}
.main_digital .main_digital_top_nav .main_top_nav_r a {
  float: left;
  list-style: none;
  text-decoration: none;
  color: #333;
}
.main_digital .main_digital_top_nav .main_top_nav_r span {
  float: left;
  padding: 0 10px;
  color: #ccc;
}
.main_digital .main_digital_bottom {
  width: 1180px;
  height: 983px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_digital .main_digital_bottom .main_digital_left {
  width: 952px;
  height: 670px;
}
.main_digital .main_digital_bottom .main_digital_left li {
  border: 1px solid #ccc;
  float: left;
  list-style: none;
  width: 235px;
  height: 335px;
}
.main_digital .main_digital_bottom .main_digital_left .hebin1 {
  width: 470px;
}
.main_digital .main_digital_bottom .main_digital_left .hebin1 .imgs {
  width: 469px;
  height: 335px;
}
.main_digital .main_digital_bottom .main_digital_left .hebin2 {
  width: 0;
  border: 1px none #fff;
}
.main_digital .main_digital_bottom .main_digital_right {
  width: 242px;
  height: 670px;
  border: 1px solid #ccc;
}
.main_digital .main_digital_bottom .main_day_r_span {
  margin: 60px 20px;
}
.main_digital .main_digital_bottom .main_day_r_ul {
  width: 192px;
  height: 584px;
  margin: 50px 20px;
}
.main_digital .main_digital_bottom li {
  list-style: none;
  height: 116px;
  border-top: 1px solid #ccc;
}

.bottom {
  width: 100%;
  height: 350px;
  border: 1px solid #ccc;
}

.bottom_detail {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  background: #3E3A39;
}
.bottom_detail ul {
  width: 1180px;
  height: 54px;
  margin: 10px auto;
}
.bottom_detail ul li {
  list-style: none;
  float: left;
  color: #fff;
  text-align: center;
  line-height: 54px;
  border-right: 1px solid #ccc;
  padding-right: 25px;
}
.bottom_detail ul li span {
  margin-right: 25px;
  margin-left: 45px;
}
.bottom_detail ul .detail_li {
  border-right: none;
}

.bottom_information {
  width: 100%;
  height: 270px;
  border: 1px solid #ccc;
}

/*# sourceMappingURL=indexs.css.map */
